@import url(./header.css);


body {
    padding: 2em;
}

h1 {
    color: #fff;
    text-align: center;
    margin: 10px auto;
    text-shadow: 0 0 5px rgb(0, 0, 0);
}

a {
color: var(--price-color);
font-size: 1em;
}

a:active {
    color: var(--header-background);
    transition: color 0.3s ease;
}

.form-container {
    background: #fff;
    max-width: 600px;
    padding: 0 30px;
    margin: 30px auto;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
}

#logo-on-form {
    display: flex;
    justify-content: center;
}

#logo-on-form img {
    height: 50px;
    width: 60px;
    margin: 2em auto;
}

.third-party-auth img {
    width: 30px;
}

#password-container img {
    width: 20px;
    cursor: pointer;
}