* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  color: #D5D5D5;
}

header {
  display: flex;
  flex-direction: row;
  position: fixed;
  background-color: #323232;
  width: 100%;
  padding: 5px;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  left: 0;
  top: 0;
}

#logo {
  max-width: 60px;
}

#search-bar {
  border: none;
  border-radius: 5px;
  background-color: #D5D5D5;
}

#search-icon {
  max-width: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

#trade {
    color: #ebdd63;
}

h1,
h2,
h3 {
  color: #007bff;
}

a {
  color: #ebdd63;
  font-size: large;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  padding: 7px 17px;
  background-color: #ebdd63;
  color: #007bff;
  font-weight: 550;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
  color: #ebdd63
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #f8f9fa;
    border-top: 1px solid #ddd;
  }

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
  footer {
    margin-top: 10px;
  }
}
