:root {
  --primary-color: #fff9c4;
  --secondary-color: #0d7ef8;
  --header-background: #323232;
  --background-color: #d5d5d5;
  --text-input-color: #0d355f;
  --cta-color: rgb(255, 0, 0);
  --price-color: #0c8f84;
  --title-color: #b4cfec;
}

* {
  z-index: 1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: "Arial", sans-serif;
  background-color: var(--background-color);
  width: 100%;
  overflow-x: hidden;

}

header {
  z-index: 10;
  display: flex;
  flex-direction: row;
  position: fixed;
  background: var(--header-background);
  box-shadow: 0 0.1em 0.5em #fff;
  width: 100%;
  padding: 0.2em;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  left: 0;
  top: 0;
}

#excluding-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 15px;
}

#excluding-nav div {
  margin-left: 1em;
}

#excluding-nav #search-bar {
  margin-left: 3em;
}

nav {
  margin: 10px;
}

nav a {
  margin: 15px;
}

#menu-container {
  display: none;
}

#logo {
  max-width: 60px;
}

#search-bar {
  display: flex;
  border-radius: 5px;
  background-color: var(--background-color);
  align-items: center;
  justify-content: center;
  padding: 4px;
}

#search-bar input {
  border: none;
  background-color: var(--background-color);
  border-radius: 5px;
  font-size: 18px;
  color: var(--text-input-color);
  margin-left: 5px;
}

#search-icon {
  max-width: 20px;
}

#search-icon:hover {
  cursor: pointer;
}

#search-icon:active {
  width: 18px;
}

#trade {
  color: var(--primary-color);
}

h1#title {
  color: var(--title-color); /* unique color for the app name */
}

h1,
h2,
h3 {
  color: var(--secondary-color);
}

a {
  color: var(--primary-color);
  font-size: large;
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

a:active {
  color: var(--cta-color);
}

button {
  padding: 7px 17px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: 550;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

button:active {
  background-color: #fff;
  color: var(--cta-color);
}


@media screen and (max-width: 1098px) {
  nav a {
    display: none;
  }

  #menu-container {
    display: flex;
    align-items: center;
  }

  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }

  .menu-toggle span {
    height: 3px;
    width: 25px;
    background-color: var(--primary-color);
    margin: 5px 0;
    display: block;
  }

  .nav-list {
    list-style: none;
    display: flex;
  }

  .nav-list li {
    margin: 0 15px;
  }

  .nav-list a {
    text-decoration: none;
    color: #fff;
  }

  .menu-toggle {
    display: flex;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
  }

  .nav-list.show {
    display: flex;
  }

  .nav-list li {
    margin: 15px 0;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
}

/* @media screen and (max-width: 550px)
@media screen and (max-width: 430px)
  
  footer {
    margin-top: 10px;
  }
} */
