@import url(./common.css);

/* --primary-color: #FFF9C4;
--secondary-color: #0d7ef8;
--header-background: #323232;
--background-color: #D5D5D5;
--text-input-color: #0d355f;
--cta-color: rgb(255, 0, 0); */

