@import url(./header.css);

main {
  margin-top: 5.3em;
  width: 100%;
}

#banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  width: 100%;
}

#banner-container p {
  display: inline;
  color: #fff;
  font-weight: 600;
  font-size: 3.1em;
  font-family: Georgia, "Times New Roman", Times, serif;
  position: relative;
  z-index: 2;
  top: -0.7em;
  padding: 0 1em;
  text-shadow: 0 0 20px #000;
}

#banner {
  width: 78%;
  position: relative;
}

.items-for-sale {
  width: 100%;
}

.items-container {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 1.2em;
  margin-top: -25px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.item {
  width: 260px;
  height: 300px;
  background-color: #fff;
  padding: 0.6em;
  margin: 1.4em auto;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
}

.name-of-item {
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
  color: var(--header-background);
  transition: color 0.3s ease;
}

.name-of-item:hover {
  text-decoration: underline;
  color: var(--price-color);
  cursor: pointer;
}

.name-of-item:active {
  color: red;
}

.photo-of-item {
  height: 120px;
  width: 210px;
  margin: 0.8em auto;
  border-style: outset;
  border-width: 2px;
  border-radius: 5px;
}

.photo-of-item > img {
  height: 120px;
  width: 210px;
  margin: auto;
  border-style: outset;
  border-width: 0;
  border-radius: 5px;
}

.price-of-item {
  color: var(--price-color);
  font-weight: 550;
  margin-left: 1em;
}

.item-description {
  font-family: "Times New Roman", Times, serif;
  font-size: 13px;
  line-height: 1.2;
  font-style: italic;
  color: #000;
  font-weight: 500;
  height: 75px;
  justify-content: center;
  margin: 5px;
  padding: 0 5px;
  margin-bottom: 0;
  user-select: text;
}

.item > .social-interactions > span {
  margin: 0 15px;
}
.item > .social-interactions > span > img {
  width: 15px;
  cursor: pointer;
  transition: border-radius 0.3s ease;
}

.item > .social-interactions > span > img:active,
.popup-item > .social-interactions > span > img:active {
  border-style: solid;
  border-color: var(--primary-color);
  border-width: 0.1px;
  border-radius: 5px;
  margin: auto;
}

.more-items {
  align-content: end;
  background-color: rgba(12, 0, 54, 0.034);
  text-align: right;
  top: -30px;
}

.more-items > p {
  color: #fff;
  background-color: var(--price-color);
  display: inline;
  padding: 10px 15px;
  margin: 3em;
  border: none;
  border-radius: 13px;
  transition: padding 0.5s ease;
}

.more-items > p:hover {
  opacity: 0.9;
}

.more-items > p:active {
  padding: 8px 12px;
}

.reviews-section {
  background-color: var(--primary-color);
  height: fit-content;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.reviews {
  background-color: var(--header-background);
  margin: 1em;
  display: flex;
  padding: 1em;
  align-items: center;
  color: #fff;
  font-family: 'fantasy, Times New Roman", Times, serif';
  font-weight: 500;
  font-size: 0.8em;
  border: none;
  border-radius: 10px;
  width: 350px;
  max-height: 170px;
}

.profile-pic > img {
  width: 80px;
  border-style: solid;
  border-radius: 50%;
  border-width: 1px;
  border-color: var(--price-color);
  margin-left: 5px;
}

.reviews-text-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.username {
  text-align: center;
  margin: 5px;
  font-size: 12px;
  color: var(--primary-color);
  cursor: pointer;
}

.username:hover {
  text-decoration: underline;
}

.username:active {
  color: var(--background-color);
}

.review-comments {
  padding: 5px;
  padding-left: 10px;
  height: 89px;
}

.ratings {
  padding: 0 10px;
}

.stared {
  color: gold;
}

.contact-us {
  background-color: #fff;
  padding: 2em;
  margin-top: 20px;
}

.contact-us > h3 {
  font-size: 22px;
  margin: 0;
}

.social-media-handles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 3em;
  justify-content: center;
}

.social-media-handles > div > img {
  width: 30px;
  margin: 1em 3em;
  flex-wrap: wrap;
  opacity: 0.4;
  cursor: pointer;
}

.social-media-handles > div > img:hover {
  border-style: solid;
  border-radius: 50%;
  border-width: 1px;
  padding: 2px;
  transition: border-radius 0.5s ease;
}

.social-media-handles > div > img:active {
  border: none;
  background-color: var(--price-color);
  padding: 0;
  transition: background-color 0.3s ease;
}

footer {
  z-index: 12;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: var(--primary-color);
  background-color: var(--header-background);
  border-top: 1px solid #ddd;
}

@media screen and (max-width: 1024px) {
  .reviews {
    max-width: 500px;
  }

  .review-comments {
    height: 90px;
  }
}

@media screen and (max-width: 768px) {
  main {
    margin-top: 6.5em;
  }

  #banner-container p {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 550px) {
  .review-comments {
    height: 100px;
  }

}

@media screen and (max-width: 320px) {
  main {
    margin-top: 9em;
  }

  .profile-pic > img {
    width: 50px;
  }

  .review-comments {
    font-size: 13px;
  }
}
