marquee {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #f8f9fa;
    margin-bottom: 20px;
  }
  
  @media (max-width: 768px) {
    marquee {
      font-size: 14px;
    }
    footer {
        position: static;
    }
  }